/* MIX */
*{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.debug {
  background-color: red;
  border: 1px solid black;
  min-height: 200px;
}
body {
  min-height: 2000px;
  padding-top: 50px;

}
.fa-bars {
  color: white;
}
.star-hr {
  position: relative;
  padding: 20px 30px;
  font-size: 40px;
}
.star-hr::after {
  display: block;
  content: "";
  width: 150px;
  height: 3px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 15%;
  position: absolute;
  left: 100%;
  top: 50%;

}
.star-hr::before {
  display: block;
  content: "";
  width: 150px;
  height: 3px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 15%;
  position: absolute;
  right: 100%;
  top: 50%;

}
.color-blue {
  background-color: #2c3e50;
}
.color-green {
  background-color: #1abc9c;
  color: white;
}
.ms_button:hover {
  background-image:none !important;
  background-color:#eeeeee !important;
  border: 1px solid white !important;
}
.sub_title {
  font-size: 3rem;
  line-height: 2.5rem;
  font-weight: 700;
}
/* MIX */

/* NAVBAR */
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
/* NAVBAR */
/* JUMBOTRON 1 */
.avatar {
  width: 25%;
  margin: auto;
}
/* JUMBOTRON */

/* PORTFOLIO */
.box {
  margin-bottom: 15px;
  position: relative;
  height: 260.55px;
}
.fa-plus {
  position: absolute;
  color: black;
  display: block;
  width: 100%;
  height: auto;
  background-color: rgba(26, 188, 156, 0.8);
  border: 1px solid transparent;
  border-radius: 5%;
  z-index: 2;
  line-height: 260px;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.5);
}
.nascosto {
  display: none
}


.box:hover .nascosto {
  display: block;
  cursor: pointer;

}

.box img {
  border: 1px solid transparent;
  border-radius: 5%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.portfolio {
  padding-bottom: 50px;
}
.portfolio .star-hr {
  color: #2c3e50;
}
.portfolio .star-hr::after {
  background-color: #2c3e50;
  border: 1px solid #2c3e50;

}
.portfolio .star-hr::before {
  background-color: #2c3e50;
  border: 1px solid #2c3e50;

}

/* PORTFOLIO */

/* INFO */

.info {
  padding-bottom: 50px;
  position: relative;
}
.info button {
  position: absolute;
  top: 102%;
  left: 50%;
  transform: translate(-50% , -50%);
  background-color: #1abc9c;
  border: 1px solid #fff;
  border-radius: 6%;
  color: white;
}
/* INFO */


/* CONTACT */
.contact {
  margin-bottom: 30px;
}
.contact .star-hr {
  color: #2c3e50;
}
.contact .star-hr::after {
  background-color: #2c3e50;
  border: 1px solid #2c3e50;

}
.contact .star-hr::before {
  background-color: #2c3e50;
  border: 1px solid #2c3e50;

}
.ms_btn {
  background-color: #1abc9c !important;
  color: #fff !important;
}
.contact label {
  font-weight: normal;
}
.contact textarea {
  border: none;
}

/* FOOTER */
.social {
  display: inline-block;
}
footer [class*="fa-"] {
  margin-top: 10px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 100%;
  font-size: 20px;
  cursor: pointer;
}
footer [class*="fa-"]:hover {
  background-color: white;
  color: black;

}
footer .fa-facebook-f {
  padding: 20px 25px;
}

.foot_title {
  font-size: 18px;
  font-weight: bold;

}
.footer-color {
  background-color: #3a546d;
  margin-bottom: 0;
  color: #fff;
}
.bottom {
  text-align: center;
}
.bottom span {
  color: #21ab93
}
.foot-color-blue {
  background-color: #2c3e50;
  height: 100px;
  color: white;
  line-height: 90px;
}
